<div class="row">
    <% if (events.length) {
        events.forEach( function(e) { %>

    <div class="card col-12 col-md-4">
        <img class="img-fluid img-thumbnail" alt="<%= e.name %>" src="<%= e.url %>">
        <h3 class="text-left">
            <a href="/event/<%= e.id %>">
                <%= e.name %>
            </a>
        </h3>
        <ul class="list-group">
            <li class="list-group-item">
                <b>Date: </b>
                <%= e.date.getDate() %> /
                <%= e.date.getMonth() + 1 %> /
                <%= e.date.getFullYear() %>
            </li>
            <li class="list-group-item">
                <b>Time: </b>
                <%= e.s_time %> -
                <%= e.e_time %>
            </li>
            <li class="list-group-item">
                <b>Venue: </b>
                <%= e.venue %>
            </li>
        </ul>
    </div>

    <% }); } else { %>
        <h3 class="text-center">No registered events...</h3>
    <% } %>
</div>